<ng-container *ngIf="true">
  <div class="container">
    <div class="card-table">
      <div class="card-product table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Imagen</th>
              <th>Descripcion</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><button class="btn btn-danger"><i class="fas fa-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="false">
  <div class="container">
  <div class="card">
    <h4 class="card-title">My cart</h4>
  </div>
  <div class="center">
    <img src="" alt="">
    <h5>Your cart is empty</h5>
    <h6>Add item to it now</h6>
    <button class="btn btn-primary">Shop now</button>
  </div>
</div>
</ng-container>



